.container {
    display: flex;
    justify-content: center;
    gap: 12%;
}

.navbar {
    display: flex;
    justify-content: space-between;

}

.main-navbar img {
    width: 90%;
    height: 64%;
}

.navbar-right {
    font-size: 120px;
}